{% extends "pagetemplate.html" %}

{% block content %}

    <div class="page-title">
        <img src="/static/img/icons/ayzek-with-skeleton.gif"/>
        <h1>Поиск команды</h1>
    </div>

    {% if 'id' in session and not already_create %}
        <a class="but right" href="/find_friends_actions" style="margin-bottom: 2em">Добавить заявку ➕</a>
    {% endif %}

    {% if user_block_form %}
        <div class="error-block">
            <p class="with-icon"><font class="icon">⚠️</font><br>Ваша заявка (ID: №{{ user_block_form }}) скрыта Модератором!<br>Пожалуйста <a href="/find_friends_actions?id={{ user_block_form }}">обновите её</a> в соответствии с правилами сообщества.</p>
        </div>
    {% endif %}

    <div class="flex-container big-flex-container">
        {% for form in forms %}
            <div id="{{ form['id'] }}" class="div-block">
                {% if 'id' in session %}
                    {% if session['acctype'] >= 2 %}
                        <div style="display: inline-block">
                            <a class="but but-red" style="display: inline-block" href="/find_friends_actions?block={{ form['id'] }}">Скрыть 🚫</a>
                            {% if session['acctype'] >= 3 %}
                                <a class="but but-red" style="display: inline-block" href="/find_friends_actions?delete={{ form['id'] }}">Удалить ❌</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
                <h3>{{ form['text'] }}</h3>
                <p>{{ form['desc'] }}</p>
                <p>{{ form['info'] }}</p>
                <a class="but-link" style="display: inline" href="/profile/id{{ form['user_id'] }}">Перейти в профиль 👤</a>
                {% if 'id' in session %}
                    {% if form['user_id'] == session['id'] %}
                        <div>
                            <a class="but" href="/find_friends_actions?id={{ form['id'] }}" style="display: inline-block">Редактировать ✏️</a>
                            <a class="but but-red" href="/find_friends_actions?delete={{ form['id'] }}" style="display: inline-block">Удалить ❌</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <a class="but but-red center" href="/" style="margin-top: 2em">❮&emsp;На главную</a>

{% endblock %}