{% extends "pagetemplate.html" %}

{% block content %}
    <div class="page-title">
        <img src="/static/img/icons/ayzek-ventilation.gif"/>
        <h1>База данных Ишимуры</h1>
    </div>

    <div class="center">
        <h3>📚 Категории</h3>

        <a class="but" href="/wiki/characters" style="margin-top: 1.5em; display: inline-block">Персонажи 👱‍♂️</a>
        <a class="but" href="/wiki/weapons" style="margin-top: 1.5em; display: inline-block">Оружие 🔫</a>
        <a class="but" href="/wiki/enemies" style="margin-top: 1.5em; display: inline-block">Враги 🧟‍</a>
        <a class="but" href="/wiki/gameplay" style="margin-top: 1.5em; display: inline-block">Геймплей 🎮</a>

        <a class="but but-red center" href="/" style="margin-top: 2em">❮&emsp;На главную</a>
    </div>
{% endblock %}