{% extends 'pagetemplate.html' %}

{% block content %}

    <div class="page-title">
        <h1>Управление новостью</h1>
    </div>

    <form action="news_actions" method="post" class="form-block" style="width: 90%">
        <label for="title">Заголовок новости</label>
        <input id="title" type="text" name="title" placeholder="Интересный короткий заголовок, который завлечёт пользователей" {% if edit %} value="{{ edit['title'] }}" {% endif %} required/>

        <label for="ckeditor">Содержание новости</label>
        {{ckeditor.load()}}
        {% if edit %}
            <input type="hidden" name="id" value="{{ edit['id'] }}"/>
            {{ckeditor.create(value=edit['content'])}}
        {% else %}
            {{ckeditor.create()}}
        {% endif %}

        <input type="hidden" name="action" value="{% if edit %}edit{% else %}add{% endif %}"/>

        <button class="but but-green center" type="submit" style="margin-top: 2em">Далее</button>
    </form>

{% endblock %}
