{% extends 'pagetemplate.html' %}

{% block content %}
    <div class="page-title">
        <h1 style="text-align: left">{{ cur_news['title'] }}</h1>
    </div>

    <div class="div-block">

        <div style="min-height: 50vh">
            {{ cur_news['content']|safe }}
        </div>

        <div class="right">
            <p style="display: block" class="help-text">{{ author }} опубликовал {{ cur_news['datetime'] }}</p>
            {% if cur_news['datetime_update']|length > 0 %}<p style="display: block" class="help-text">{{ author_update }} обновил {{ cur_news['datetime_update'] }}</p>{% endif %}

            {% if 'id' in session %}
                {% if session['acctype'] > 0 %}
                    <a style="display: inline-block" href="/news_actions?id={{ cur_news['id'] }}" class="but">Редактировать ✏️</a>
                    <a style="display: inline-block" href="/news_actions?delete={{ cur_news['id'] }}" class="but but-red">Удалить ❌</a><br>
                {% endif %}
            {% endif %}
        </div>

    </div>

    <a class="but but-red center" href="/news" style="margin-top: 2em">❮&emsp;Назад</a>

{% endblock %}
