{% extends "pagetemplate.html" %}

{% block content %}
    <a href="/" class="but but-red left">❮&emsp;На главную</a>
    <div class="page-title">
        <h1>Чат</h1>
    </div>

    <div id="load" style="margin: 0 auto; background-color: #171717">
        <img style="margin: 10% auto;display: block;" src="/static/img/icons/xbox-achievement-dead-chat.gif"/>
    </div>

    <div id="page" style="margin: 0 auto; display: none">
        <div id="messages" class="messages">
        </div>
        <hr>
        <div style="width:95%;margin: 0 auto;overflow-x: auto">
            <form id="message-form" action="" method="post" style="display: inline">
                <input id="message" name="message" type="text" placeholder="Сообщение" style="width: 75%;display: inline-block"/>
                <button id="send-message" type="submit" class="but" style="display: inline-block;margin-left: 3%;width: 5em">ᐅ</button>
            </form>
            <br>
            <p style="margin-top: 0" class="error" id="error"></p>
        </div>
    </div>

    <script>
        let messid = 0;
        let lastmess = 0;

        let istabactive = true;
        let isnotification = false;
        let notif_status = 0;

        let windowHeight = 0;

        $(window).on("focus", function(){
            istabactive = true;
            isnotification = false;
            document.title = "Чат - Dead Space Community";
            $('link[rel="icon"], link[rel="shortcut icon"]').attr('href', '/static/img/favicon.png');
            readMessages();
        });

        $(window).on("blur", function(){
            istabactive = false;
        });

        function checkNewMessages(last_message = $('#messages').children().last().children()[0].id) {
            if (isnotification) {
                if (!notif_status) {
                    document.title = "Новое сообщение";
                    $('link[rel="icon"], link[rel="shortcut icon"]').attr('href', '/static/img/new-message.png');
                    notif_status = 1;
                } else {
                    document.title = "Чат - Dead Space Community";
                    $('link[rel="icon"], link[rel="shortcut icon"]').attr('href', '/static/img/favicon.png');
                    notif_status = 0;
                }
            }

            $.ajax({
                url: '/chat',
                method: 'post',
                dataType: 'json',
                data: {last_message_id: last_message},
                success: function(data){
                    if ('new_messages' in data) {
                        data.new_messages.forEach(function(message) {
                            messid = message[0];
                            lastmess = message[0];

                            const author = data.authors[message[0]];
                            $('#messages').append('<div class="msg-area"><div class="message new-msg-hidden" id="' + message[0] + '">\n' +
                                        '            <a href="/profile/id'+ message[1] +'">'+ author.first_name + ' ' + author.last_name + ' (' + author.nickname + ')</a>\n' +
                                        '            <p lang="ru">' + message[2] + ' </p>\n' +
                                        '            <p>' + message[3] + ' </p>\n' +
                                        '        </div></div>');

                            if (message[1] == {{ session['id'] }}) {
                                $('#'+message[0]).addClass('msg-from-user');
                            }

                            $('#'+message[0]).addClass('not-read');

                            setTimeout(function(){
                                $('#'+message[0]).removeClass('new-msg-hidden');
                            }, 50);
                        });

                        if (messid && messid == lastmess && !isnotification) {

                            if (!istabactive) {
                                const audio = new Audio("/static/sounds/new-message.mp3");
                                audio.play();
                                isnotification = true;
                            }
                            else $('#messages').animate({"scrollTop": $('#messages')[0].scrollHeight}, "slow");
                        }

                        messid = 0;

                    } else location.reload();
                },
                error: function(jqXHR, timeout, message) {
                    location.reload();
                }
            });

            setTimeout(readMessages, 1000);
            setTimeout(checkNewMessages, 2000);
        }

        function readMessages() {
            if(!isnotification) {
                $('.message').each(function () {
                    const self = $(this),
                        height = self.offset().top + self.height() * 3;
                    if ($(document).scrollTop() + windowHeight - height >= 100) {
                        self.removeClass('not-read');
                    }
                });
            }
        }

        $(document).ready(function () {
            checkNewMessages(0);

            setTimeout(function() {
                $('#load').hide();
                $('#page').show();
                $('#messages').animate({"scrollTop": $('#messages')[0].scrollHeight}, "slow");
            }, 4000);

            windowHeight = $(window).height();

            $('#messages').on('scroll', readMessages);

            $("#message-form").on('submit', function (event) {
                event.preventDefault();
                $('#error').html("");
                if ($('#message').val().trim().length > 0) {
                    $.ajax({
                        url: '/chat',
                        method: 'post',
                        dataType: 'json',
                        data: {message: $('#message').val()},
                        success: function(data){
                            if (data.ok === true) {
                                $('#message').val("");
                            } else {
                                $('#error').html(data.error);
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}