{% extends "pagetemplate.html" %}

{% block content %}

    <div class="page-title">
        <h1>Главная</h1>
    </div>

    <div class="center">
        <a class="but center" href="/news" style="margin-top: 1.5em; display: inline-block">Новости</a>
        <a class="but center" href="/wiki" style="margin-top: 1.5em; display: inline-block">Википедия</a>
        <a class="but center" href="/find_friends" style="margin-top: 1.5em; display: inline-block">Поиск команды</a>
        <a class="but center" href="/chat" style="margin-top: 1.5em; display: inline-block">Чат</a>
        <br>
        <a class="but center" href="/auth" style="margin-top: 1.5em; display: inline-block">Авторизация</a>
        <a class="but center" href="/register" style="margin-top: 1.5em; display: inline-block">Регистрация</a>
    </div>
{% endblock %}
