{% extends "pagetemplate.html" %}

{% block content %}

    <div class="page-title">
        <h1>Главная</h1>
    </div>

    <div class="center">
        <a class="but center but-with-img" href="/news" style="margin-top: 1.5em; display: inline-block">Новости <img src="/static/img/icons/ayzek-fire.gif"/></a>
        <a class="but center but-with-img" href="/wiki" style="margin-top: 1.5em; display: inline-block">Википедия <img src="/static/img/icons/ayzek-ventilation.gif"/></a>
        <a class="but center but-with-img" href="/gallery" style="margin-top: 1.5em; margin-right: 0.2em; display: inline-block">Галерея <img class="img-vertical-center" src="/static/img/icons/ayzek-wink.gif"</a>
        <a class="but center but-with-img" href="/find_friends" style="margin-top: 1.5em; display: inline-block">Поиск команды <img src="/static/img/icons/ayzek-with-skeleton.gif"/></a>
        <a class="but center but-with-img" href="/chat" style="margin-top: 1.5em; display: inline-block">Чат <img src="/static/img/icons/smile-spinning.gif"/></a>
        <br>
        <a class="but center but-with-img" href="/auth" style="margin-top: 1.5em; display: inline-block">Авторизация <img src="/static/img/icons/ayzek-fly.gif"/></a>
        <a class="but center but-with-img" href="/register" style="margin-top: 1.5em; display: inline-block">Регистрация <img src="/static/img/icons/ayzek-magic.gif"/></a>
    </div>
{% endblock %}
